.info {
  padding: 0 80px;
}
.info h1 {
  font-size: 22px;
  font-weight: 600;
  margin: 15px 0 10px 90px;
}

.user-info {
  margin: 15px 0 10px 100px;
}

.user-info tbody tr th {
  padding-right: 50px;
  text-align: start;
  font-weight: 600;
}

.info hr {
  margin-top: 15px;
  width: 88vw;
  max-width: 1500px;
}
