.info {
  padding: 0 120px;
}
.info h1 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 15px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.user-info {
  margin: 15px 0 10px 50px;
}

.tour-info {
  margin: 15px 0 10px 30px;
}

.tour-info-table tr th {
  width: 180px;
  padding-right: 0;
  text-align: left;
  font-weight: 600;
}

.info hr {
  margin-top: 15px;
  width: 100%;
  max-width: 1900px;
}
