.list {
  padding: 0 80px 0 110px;
}

.list h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 600;
}

.list ul {
  display: flex;
  overflow-y: hidden;
}

.list-main ul {
  margin-bottom: 30px;
}

.list-wrapper {
  padding-left: 0;
}

.main-login-btn a {
  width: 80px;
  height: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel::-webkit-scrollbar,
.wrapper ul::-webkit-scrollbar {
  width: 2px;
}
.carousel::-webkit-scrollbar-thumb,
.wrapper ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #bcbaba;
}
.carousel::-webkit-scrollbar-track,
.wrapper ul::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
}

.main-login-btn {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.ask-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.ask-login p {
  color: #b1aeae;
  font-size: 18px;
}

.no-login {
  height: 300px;
  width: 100vw;
}
