.list {
  margin-bottom: 80px;
}

.list h1 {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 600;
}

.list ul {
  display: flex;
  overflow-y: hidden;
}

.main_login_btn a {
  width: 80px;
  height: 40px;
  font-weight: 700;
}

.carousel::-webkit-scrollbar {
  width: 2px;
}
.carousel::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #808080;
}
.carousel::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #c4bebe;
}
