.myMap {
  padding: 15px 80px 10px 95px;
  height: 500px;
}

.myMap h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  /* padding-left: 80px; */
}

.map-container {
  display: flex;
  justify-content: center;
}
