.myMap {
  margin-top: 30px;
  padding: 15px 80px 10px 95px;
  /* height: 500px; */
  height: auto;
  overflow: auto;
}

.myMap h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  /* padding-left: 80px; */
}

.map-container {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
