.user-information {
  padding: 70px 95px 60px 95px;
}

.user-information h1 {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 600;
}

.user-info {
  margin-left: 20px;
}

.user-info tbody {
  text-align: left;
}

.user-info tbody tr th {
  width: 120px;
}

b {
  font-weight: 600;
}
.user-information h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 600;
}

.user-info tbody tr th {
  padding-right: 50px;
  text-align: start;
}
.user-info tbody tr th b {
  line-height: 2.5;
}
.user-information {
  padding: 30px 80px 70px 100px;
}
